@charset "UTF-8";


h1{
    background-color: black;
    color: white;
    border-radius: 3rem;
    text-align: center;
}

body{
    text-align: center;
}

.grid{
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
    margin-top: 6%;
}

header div{
    /* display: inline-block; こっちでもできる*/
    margin: auto;
    background-color: #85eb8e;
    font-weight: bolder;
    font-size: 125%;
    padding: 5%;
    border-radius: 3rem;
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 2%;
}

article p{
    background-color: black;
    color: white;
    border-radius: 3rem;
}



